
  <section layout="row" style="height: 100%" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="height: 100%; " md-component-id="left" md-is-locked-open="1 == 1">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Energy Project</h1>
      </md-toolbar>
      <md-content>
        <section layout="row">
            <!-- <md-button ng-click="generator(100)" class="md-raised md-warn" flex="grow">
              Generate 100
            </md-button> -->
            <md-button ng-click="getData()" class="md-raised md-warn" flex="grow">
              Get Data
            </md-button>
        </section>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

      </md-content>
    </md-sidenav>
    <md-content flex style="height: 100%; width: 100%">
      <!-- <md-list>
        <md-subheader class="md-no-sticky">Solar Data</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="data in solarData">
          <div class="md-list-item-text" layout="column">
            <h3>{{ data.metric }}</h3>
            <h4>{{ data.value }}</h4>
            <p>{{ data.tags }}</p>
          </div>
        </md-list-item>
      </md-list> -->
      <div google-chart chart="chartObject" style="height:100%; width:100%"></div>

<!--               <nvd3 options="options" data="data"></nvd3>
 -->
    </md-content>
  </section>
