
  <section layout="row" style="height: 100%" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="height: 100%; " md-component-id="left" md-is-locked-open="hideSidenav" md-is-open="hideSidenav">
      <md-toolbar class="md-theme-indigo umm-theme">
        <div layout="row">
          <h1 class="md-toolbar-tools">UMM Energy</h1>
          <md-button class="" ng-click="hideSidenav = !hideSidenav">
            Hide
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <section layout="row">
            <!-- <md-button ng-click="generator(100)" class="md-raised md-warn" flex="grow">
              Generate 100
            </md-button> -->
            <md-button ng-click="getData()" class="md-raised md-warn umm-button" flex="grow">
              Get Data
            </md-button>
        </section>
        <md-content layout="row">
          <md-datepicker class="e-date-picker" style="background-color:white" ng-model="startDate" md-placeholder="Enter date"><label>Start Date</label></md-datepicker>
        </md-content>
        <md-content layout="row">
          <md-datepicker class="e-date-picker" style="background-color:white" ng-model="endDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>
        <md-input-container>
          <label>Downsample</label>
          <input ng-model="downsample">
        </md-input-container>
        <!-- <md-input-container>
          <label>Energy Type</label>
          <input ng-model="energyType">
        </md-input-container> -->
        <md-checkbox ng-model="searchByType" aria-label="Search By">
            Search by type
        </md-checkbox>
        <md-input-container>
          <label>Energy Type</label>
          <md-select ng-model="energyType">
            <md-option ng-repeat="type in energyTypes" value="{{type}}">
              {{type}}
            </md-option>
          </md-select>
        </md-input-container>

      </md-content>
    </md-sidenav>
    <md-content flex style="height: 100%; width: 100%">
      <md-progress-linear md-mode="determinate" class="umm-progress" value="{{queryTotal}}"></md-progress-linear>
      <md-button ng-hide="hideSidenav" ng-click="hideSidenav = !hideSidenav">
        Un-hide
      </md-button>
      <div google-chart chart="chartObject" style="height:100%; width:100%"></div>

<!--               <nvd3 options="options" data="data"></nvd3>
 -->
    </md-content>
  </section>
